body{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.container{
    margin: 70px auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

h1 {
    font-size: 2.5rem;
}

.calcolatrice {
    width: 35%;
    box-shadow: 8px 8px 30px black;
    padding: 0.2em;
    background-color: black;
    border-radius: 3%;
}

.display {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.display div {
    padding-right: 10px;
}

#prev {
    font-size: 1.5rem;
    background-color: black;
    border: none;
    width: 94%;
    text-align: end;
    color: rgb(38, 164, 152, 0.7);
}

#now {
    font-size: 2.4rem;
    color: white;
    background-color: black;
    border: none;
    text-align: end;
    width: 95%;
    padding-right: 0.1em;
}

.tastiera {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.tastiera button {
    background-color: #0e1e26;
    font-size: 1em;
    padding: 0.8em;
    cursor: pointer;
    border: 1px solid black;
    color: white;
}

.tastiera button:hover {
    color: #33354a;
    background-color: rgba(255,255,255,0.7);
}

#equal {
    background-color: #26a498;
    grid-row: span 2;
    height: auto;
    border-bottom-right-radius: 20%;
}

.tastiera .yw {
    color: white;
    background-color: #125a61;
}

.tastiera .topleft {
    border-top-left-radius: 20%;
    background-color: #0e1e26;
    color: #26a498;
}
.tastiera .topright {
    border-top-right-radius: 20%;
}
.bottomleft {
    border-bottom-left-radius: 20%;
}

@media  screen and (max-width: 768px) {
    h1 {
        display: none;
    }
    .calcolatrice {
        width: 70%;
    }
}